# Dependencies & Virtual Envs
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Ignored resource directory
RESOURCE/
RESOURCE

# Outputs and checkpoints if large


# System / IDE
.DS_Store
.idea/
.vscode/
